    {% extends "hist/base.html" %}

    {% load bootstrap4 %}

    {% block title %}RH | OM | Contact{% endblock %}

    {% block body %}
    <div class="container alert alert-primary" role="alert">
  NOTE: This form relies on a SMTP server to work.  Before submitting the form, please enter <span class="badge badge-secondary">python -m smtpd -n -c DebuggingServer localhost:1025</span> in your termainal. This will print the contents of the emails to your terminal.
</div>
    <main role="main">
      <div class="container">
        {% if success %}
        <div class="row">
          {% bootstrap_alert success alert_type='success' %}
        </div>
        {% endif %}
        <div class="row">
          <form action="/contact" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %} 
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </main>
    {% endblock %}