    {% extends "hist/base.html" %}

    {% load bootstrap4 %}

    {% block title %}Contact{% endblock %}

    {% block body %}
    <main role="main">
      <div class="container">
        {% if success %}
        <div class="row">
          {% bootstrap_alert success alert_type='success' %}
        </div>
        {% endif %}
        <div class="row">
          <form action="/contact" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %} 
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </main>
    {% endblock %}