<html>
	<head>
		<title>{{decision.title}}</title>
	</head>
	<body>
		<h2>{{decision.title}}</h2>
		<br/>
		Decision Description: {{decision.decisionDesc}}<br/>
		Decision Date: {{decision.decisionDate}}<br/>
		Background Information: {{decision.backgroundInfo}}<br/>
		Rationale: {{decision.rationale}}<br/>
		Subject: {{decision.subject}}<br/>
		Impact: {{decision.impact}}<br/>
		Lesson Learned: {{decision.lessonLrnd}}<br/>
		Decision Status: {{decision.decisionStatus}}<br/>
		Decision Maker: {{decision.decisionMaker}}<br/>
		Entered By: {{decision.enteredby}}<br/>

	</body>
</html>