{% extends "hist/base.html" %}

{% block title %} RH | OM | Decision: {{decision.title}} {% endblock %}

{% block body %}
  <div class="container">
  <div align="right"><a class="btn btn-outline-secondary" href="{% url 'hist-list' %}">Back</a></div>
    <h2>{{decision.title}}</h2>
    <table class="table">
    	<tr>
    		<th>Decision Description:</th> <td> {{decision.decisionDesc}}</td>
    	</tr>
    	<tr>
    		<th>Decision Date:</th><td> {{decision.decisionDate}}</td>
    	</tr>
    	<tr>
			<th>Background Information:</th> <td> {{decision.backgroundInfo}}</td>
		<tr><th>Rationale:</th><td> {{decision.rationale}}</td>

		<tr><th>Subject: </th><td>{{decision.subject}}</td>

		<tr><th>Impact: </th><td>{{decision.impact}}</td>

		<tr><th>Lesson Learned: </th><td>{{decision.lessonLrnd}}</td>

		<tr><th>Decision Status: </th><td>{{decision.get_decisionStatus_display}}</td>

		<tr><th>Decision Maker: </th><td>{% for employee in decision.decisionMaker.all%}{{employee}}{{forloop.last|yesno:",&#44"|safe}} {% endfor %}</td>

		<tr><th>Entered By: </th><td>{% for employee in decision.enteredby.all %}{{employee}} {{forloop.last|yesno:",&#44"|safe}}{% endfor %}</td>
</tr>
	</table>

</div>

{% endblock %}
		
