{% extends "hist/base.html" %}

{% block title %} RH | OM | Welcome {% endblock %}

{% block body %}

  <div class="container">
  	<div class="jumbotron">
      <h1 class="display-4">Organizational Memory Database</h1>
      <p class="lead">Retaining business decisions</p>
      <hr class="my-4">
      <p>Organizations make decisions every day. Some are critical, while some might seem trivial.  Nonetheless, past business decisions provide context to the current state, and they can help speed up the current decision making process and avoid 'reinventing the wheel'. This database is designed to facilitate the preservation of past decisions within the organization.</p></div>
    <strong>What's in the database</strong>
    <ul>
    <li><span class="badge badge-info">{{ num_decisions }} </span><strong> Decisions</strong> </li>
    <li><span class="badge badge-info">{{ num_employees }}</span><strong> Employees</strong> </li>
    <li><span class="badge badge-info">{{ num_decisions_in_progress }} </span><strong> Decisions In-progress</strong> </li>
  </ul>
  </div>

{% endblock %}